b~*
*~
*.bak
*.ali
*.adt
*.dmc
*.exe
*.log
*.o
*.tgz
*.zip
.directory

adalib/

doc/adacontrol_pm.info*
doc/adacontrol_pm.html
doc/adacontrol_pm.pdf
doc/adacontrol_ug.info*
doc/adacontrol_ug.html
doc/adacontrol_ug.pdf

src/adactl
src/pfni
src/ptree

test/res/
