b~*
*~
*.adt
*.ali
*.bak
*.dmc
*.exe
*.lnk
*.log
*.o
*.tgz
*.zip
.directory

adalib/
adalib_linux/

doc/adacontrol_pm.info*
doc/adacontrol_pm.html
doc/adacontrol_pm.pdf
doc/adacontrol_pm.txt
doc/*_ug.info*
doc/*_ug.html
doc/*_ug.pdf
doc/*_ug.txt

GNATHub/adacontrol-plugin/target
GNATHub/adacontrol-plugin/src/main/resources/*.xml

src/adactl
src/pfni
src/ptree
src/gen_adactl
src/adactl_fix
src/essai.*

test/res/
test/fixed/res
